<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        <h1>Registration Form</h1>
        <label for="">username</label>
        <input name="username" type="text">
        <label for="">mobile</label>
        <input name="mobile" type="text">
        <label for="">Address</label>
        <input name="Address" type="text">
        <label for="">Email</label>
        <input name="Email" type="text">
        <label for="">password</label>
        <input name="password" type="text">
        <button>submit</button>
    </form>
</body>
</html>